*{
	margin:0 auto;
}
.clear:{
	clear:both;
}
body{
	background: #cccccc;
}
.container{
	background:#ffffff;
}
.wrapper{
	background:#abc;

}

.marqee{
	background: #acd;
	height: 40px;
}
.marqee h2{
	color: #900;
	text-decoration: none;
}
.email{
	color: #ff0007;
}
.date{
	color: #ff0007;
}
.social{
	color: #ff0007;
}
.main-header .logo-part{
	width: 100%;
	heigth: 110px;
}
.logo-part img{
	width:100%;
	height:100px;
}
.adv-part img{
	width:100%;
	height:100px;
	overflow:hidden;
}
.item2{
	background: #000;
}
.menu{
	height:50px;
	width:100%;
	background:#900;
	}
	.menu ul{
		list-style:none;
	}
	.menu ul li{
		float:left;
		padding: 13px;
		border-right: 1px #000 solid;
	}
	.menu ul li a{
		text-decoration: none;
		color:#ffffff;
}
.menu ul li:hover{
	background:#cdb999;
}
.title_logo{
	margin-top: 5px;
	border-top-right-radius: 30px;
}
.title_cat h2{
	font-weight:bold;
	text-align: center;
	color:#a01;
}
.title_img{
	width: 100%;
	height: 100%;
}
.title_img img{
	width: 100%;
	height: 100%;
	max-width:500px;
	max-height: 500px;
}

.title_logo .adv-img img{
	width: 100%;
	height: 100%;
	max-height: 300px;
	margin-top: 5px;
}
.main__cat__title h1{
	color: #fff;
	background: #000;
	display: inline-block;
	font-size: 22px;
	padding: 0px 10px 0px 8px;
	text-transform: uppercase;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom: 2px yellow solid;
}
.post__title h2, .sm_post_title h2{
	color: #000;
	font-size: 22px;
	font-weight: bold;
	line-height: 145%;
}
.post__image{
	width: 100%;
	height: 300px;
}
.post__image img{
	height: 100%;
	width: 100%;
	overflow: hidden;
	object-fit: cover;
}
.sm_post_image{
	height: 200px;
	width: 200px;
}
.sm_post_image img{
	height:100%;
	width: 100%;
	border-radius: 50%;
	border :2px #fff solid;
	object-fit: cover; 
}
.main__part{
	margin-top: 10px;
}
.menu{
	margin-top: 10px;
}
.list-img{
	clear: both;
}
.list-img img{
	height: 100px;
	width: 120px;
	margin: 0px 10px 10px 0px;
	float: left;
}
.list-item-box .list-title h2{
	color: #000;
	font-weight: 600;
	font-size: 24px;
	cursor: pointer;
}
.list-item-box .list-title h2 a{
	color: #900;
	text-decoration: none !important;
}